body {
    background-color:  black;
    font-size: 100.01%;
    font-family: Helvetica,Arial,sans-serif;
    font-color: white;
    margin: 0; padding: 1px;
  }

  h1 {
    font-color: white;

  }
  
  .navigation {
    font-size: 12pt;
    font-color: white;
    float: left; width: 100px;
    margin: 0; padding: 0;
  }
  .navigation li {
    list-style: none;
    margin: 0; padding: 0px;
  }

  .navigation a {
    display: block;
    padding: 0px;
    font-weight: bold;
  }
  .navigation a:link {
    color: white; 
  }

  .navigation a:visited {
    color: white;
  }
  .navigation a:hover {
    color: white;
    font-weight: bold;
  }
  .navigation a:active {
    color: red;
    font-weight: bold;
  }

  .logo {
    font-size: 28pt;
    color: white;
    float: left; width: 600px;
    margin: 0; padding: 0;    
  }
  

  .inhalt {
    margin: 0 10px 0 10px;
    padding: 0 1px;
    width: 20px;
    float: none;
    color: white;
  }
  .inhalt h1 {
    font-size: 12pt;
    font-color: white;
    margin: 0 0 0px;
  }
  .inhalt h2 {
    font-size: 12pt;
    font-color: white;
    margin: 0px 0;
  }
  .inhalt p {
    font-size: 12pt;
    font-color: white;
    margin: 1px 0;